// // Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import 'bootstrap/scss/bootstrap';

.col-no {
    width: 5%; /* Sesuaikan dengan kebutuhan */
    text-align: center;
}

.col-action {
    width: 15%; /* Sesuaikan dengan kebutuhan */
    text-align: center;
}
